$max: 12;
$procent: 100%;
$main_color_1: #022084;
$main_color_2: #FFD3A5;
$main_color_3: #3A3335;

html {
	font-size: 20px;
	background-color: beige;
}

* {
	/*border: 1px solid dotted;*/
	box-sizing: border-box;
	color: $main_color_3;
	font-family: sans-serif;
}

.grid-container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.row:before,
.row:afeter {
	content: " ";
	display: table;
	clear: both;
}

.row {
	min-height: 1px;
}

[class*='col-'] {
	float: left;
	min-height: 1px;
	$size: $procent*(1/$max);
	width: $size;
	padding: 10px;
	/*border: 1px dotted black;*/
}

@for $i from 1 through $max {
	$size: $procent*($i/$max);
	.col-#{$i} {
		width: $size;
	}
}

/* ---------------------------------------------- */

.third > * {
	display: flex;
	flex-direction: column;
}

.big_font {
	text-transform: uppercase;
	font-weight: bold;
}

.text_center {
	text-align: center;
}

a {
	text-decoration: none;
	font-weight: bold;
}

/* ---------------------------------------------- */

h1 {
  color: #022084;
	font-size: 3em;
}

h2 {
  color: #022084;
	font-size: 1.5em;
}

.first > * {
	background-color: beige;
}

.second {
	>.col-8 {
		background-color: $main_color_1;
		//height: 222px;
		display: flex;
		flex-direction: column;
  	justify-content: space-around;
		* {
			color: $main_color_2;
			background-color: $main_color_1;
		}
	}
	>.col-4 {
		background-color: $main_color_2;
		display: flex;
		justify-content: center;
		align-content: center;
	}
}

.main_left {
	justify-content: space-around;
	background-color: beige;
}

.main_right {
	background-color: $main_color_2;
	* {
		background-color: $main_color_2;
		font-weight: bold;
	}
}

#pl, #en {
  background-size: cover;
	background-position: center;
	cursor: pointer;
}


header .col-12 {
	display: flex;
	height: 50px;
	justify-content: flex-end;
	> * {
		margin: 0 20px;
		height: 30px;
		width: 60px;
		border: 1px solid black;
	}
}

#pl {
	background-image: url(../images/pl.jpg);
}

#en {
	background-image: url(../images/en.png);
}

.photo {
  background-image: url(../images/DSC_0053p.JPG);
  height: 200px;
  width: 140px;
  background-size: cover;
	border: 5px solid saddlebrown;
	border-radius: 10%;
}

#clause {
	background-color: beige;
}

/* ---------------------------------------------- */

@media only screen and (max-width: 550px) {
	[class*='col-'] {
		float: none;
		width: 100%;
	}
	.third {
		display: flex;
		flex-direction: column;
	}
	.third>.main_left {
		order: 2;
		//font-size: 0.75rem;
	}
	.third>.main_right {
		order: 1;
	}
	header .col-1 {
		width: 20%;
	}
}